.card-title {
    margin: 0 auto;
    padding-block: 200px;
    max-width: 1600px;
    height: 600px;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/photo-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }