.modal__checkbox {
    visibility: hidden;
    &:checked + span svg {
      z-index: 5;
      fill: $color-blue;
      stroke: $color-blue;
      stroke-width: 2px;
    }
  }

  // .modal__checkbox:checked + span svg {
  //   z-index: 5;
  //   fill: var(--color-blue);
  //   stroke: var(--color-blue);
  //   stroke-width: 2px;
  // }