.card-what-we-do__dimnest{
  display: none;
}
.portfolio__blue-box {
  margin-inline: auto;
  position: relative;
  max-width: 450px;
  // max-width:100%
  // height: 294px;
  max-height: 294px;
  background-color:$background-color-button-active;
  overflow: hidden;
}
.portfolio__overlay {
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
  transition-property: transform;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translate(0, 300px);
}
.portfolio__overlay-text {
  margin: 0;
  // padding: 77px 24px;
  padding: 16% 5%;
  // max-width: 450px;
  max-width: 100%;
  font-size: 18px;
  // font-size: max(18px, 4vw);
  line-height: 1.56;
  color: $color-white;
  text-align: left;
}
// @media screen and (max-width: 360px) {
//   .portfolio__blue-box {
//    display: none;
//   }
//   .portfolio__overlay {
//     display: none;
//   }
//   .portfolio__overlay-text {
//     display: none;
// }
// }
@media screen and (min-width: 768px) {
 
  .portfolio__blue-box {
     width: 354px;
    height: 294px;
     }
   .portfolio__overlay-text {
    padding: 49px 24px;
    width: 306px;
     }
}
@media screen and (min-width: 1200px) {
.card-what-we-do__dimnest {
  display: flex;
  width: 370px;
  height: 70px;
  background: $background-color-dimness;
  bottom: 0;
  font-weight: 700;
  line-height: 1.14;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: $color-white;
}
.portfolio__blue-box {
    width: 370px;
    height: 294px;
     }
  
  .portfolio__overlay-text {
    padding-top: 49px;
    padding-left: 24px;
    width: 301px;
     }
}
  