.list-strengths__description {
    margin-top: 10px;
    line-height: 1.71;
    color: $color-dark-grey;
  }
  .modal__statement {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 8px;
    position: relative;
    /* background-color:aquamarine; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 400;
    line-height: 1.71;
    color: $color-dark-grey;
  }
  .modal__regulations-policy {
    color: $color-blue;
  }