.card-footer__form {
    margin-top: 20px;
    
    display: flex;
    flex-direction: column;
       align-items:center;
  }

  @media screen and (min-width:1200px){
    .card-footer__form {
            flex-direction: row;
      justify-content: space-between;
      width: 570px;
      align-items: flex-start;
    }
  }