.card-footer__form {
  margin-top: 20px;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .card-footer__form {
    display: flex;
    flex-wrap: nowrap;
    width: 570px;
    align-items: flex-start;
  }
}
