.social-media__icon {
    width: 20px;
    height: 20px;
  }
  .card-clients__icon {
    width: 106px;
    height: 60px;
  }
  .modal__checkbox-icon {
    position: absolute;
    top: 4px;
    left: 4px;
  }