.card-what-we-do__image {
  display: none;
}
.card-team__img {
  margin: 30px 0 0 0;
  max-width: 767px;
  background-color: $background-color-primary;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 0px 0px 4px 4px;
}
.team-image {
  max-width: 100%;
}
.what-we-do-image {
  display: none;
}
.portfolio__picture {
  margin: 0 0 0 0;
  border-bottom: 1px solid #eeeeee;
  max-width: 450px;
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
  transition-property: box-shadow;
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    & .portfolio__overlay {
      transform: translateX(0);
    }
  }
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio__gallery-img {
  max-width: 100%;
}
.portfolio__picture-margin {
  padding: 20px 24px;
}
@media screen and (min-width: 768px) {
  .card-team__img {
    display: flex;
    flex-direction: column;
    max-width: 354px;
    width: 100%;
    column-gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .card-what-we-do__image {
    display: block;
    width: 370px;
  }
  .card-team__img {
    margin: 0;
    max-width: 270px;
  }
  .portfolio__picture {
    width: 370px;
  }
}
