.card-footer__input {
  padding-left: 15px;
  margin-bottom: 20px;
  max-width: 450px;
  width: 100%;
  height: 50px;
  color: $color-white;
  background-color: $background-color-footer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
  transition-property: border-color;
  &:hover {
    border-color: $color-blue;
  }
  &:focus-within {
    border: 3px solid $color-blue;
    outline: none;
  }
}
.modal__input-group {
  position: relative;
  margin-bottom: 10px;
  transition-property: fill;
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
  &:hover {
    fill: $color-blue;
    border-color: $color-blue;
  }
  &:focus {
    fill: $color-blue;
    border-color: $color-blue;
  }
  &:focus-within {
    fill: $color-blue;
  }
}
.modal__input-group-comment {
  position: relative;
  &:hover {
    fill: $color-blue;
    border-color: $color-blue;
  }
  &:focus {
    fill: $color-blue;
    border-color: $color-blue;
  }
  &:focus-within {
    fill: $color-blue;
  }
}
.modal__input-icon {
  position: absolute;
  top: 15px;
  left: 15px;
}
.modal__input-details {
  display: flex;
  justify-content: center;
  width: 75vw;
  max-width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline-color: $color-blue;
  transition-property: border-color;
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
  &:hover {
    border-color: $color-blue;
  }
}
.single-line-input {
  padding-left: 42px;
  height: 40px;
}
textarea[id="comment"].modal__input-details::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.multiple-line-input {
  margin-bottom: 0px;
  padding-top: 12px;
  padding-left: 16px;
}

@media screen and (min-width: 1200px) {
  .card-footer__input {
    width: 358px;
  }
  .modal__input-details {
    max-width: 448px;
  }
}
