.modal__label {
    margin-bottom: 4px;
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $color-dark-grey;
    resize: none;
  }