%logo {
    font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
    text-decoration: none;
}
.logo--blue{
  @extend %logo;
  color: $color-blue;
}
.logo--black {
   color: $color-black;
}
.logo--white {
  color: $color-white;
}
