.list-strengths__subtitle {
  max-width: 768px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
.card-team__subtitle {
  margin-top: 10px;
  margin-bottom: 16px;
  display: block;
  max-width: 767px;
  color: $color-dark-grey;
}
.card-footer__subtitle {
  margin-bottom: 20px;
  padding-top: 60px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $color-white;
}

@media screen and (min-width: 768px) {
  .list-strengths__subtitle {
    text-align: left;
  }
  .card-footer__subtitle {
    padding-top: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .card-team__subtitle {
    margin-bottom: 0;
  }
  .card-footer__subtitle {
    display: flex;
  }
  .portfolio__picture-subtitle {
    margin-top: 4px;
    z-index: 3;
    font-size: 16px;
    line-height: 1.87;
    color: $color-dark-grey;
  }
}
