.list-strengths__subtitle {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
  }
  .card-team__subtitle {
    margin-top: 10px;
    padding-bottom: 30px;
    color: $color-dark-grey;
  }
  .card-footer__subtitle {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $color-white;
  }
  .portfolio__picture-subtitle {
    margin-top: 4px;
    z-index: 3;
    font-size: 16px;
    line-height: 1.87;
    color: $color-dark-grey;
  }