:root {
  
    --t-duration: 250ms;
    --t-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  body {
    font-family: "Roboto";
    font-size: 14px;
    letter-spacing: 0.03em;
    color: $color-dark;
    background-color: $background-color-primary;
    // background-color: greenyellow;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul {
    margin: 0;
    padding: 0;
    font-size: 100%;
    list-style-type: none;
  }