.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: 480px;
    // background-color: rgb(217, 250, 217);
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    // background-color: rgb(223, 239, 255);
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    // background-color: rgb(197, 255, 255);
  }
}
.section {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  padding-top: 94px;
  padding-bottom: 94px;
}

.card-header__logo {
  padding: 16px 0;
}
.list-strengths__box {
  margin-top: 30px;
}
.list-strengths__box-right {
  margin-top: 30px;
}
.card-team__container {
  margin-top: 30px;
  }
.card-footer__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.card-footer__subscribe {
  margin-left: 0;
  margin-top: 0;
  align-self: flex-end;
}
.portfolio__gallery {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .card-header__logo {
    padding: 26px 0;
  }
  .list-strengths__box {
    margin-top: 0;
  }
  .list-strengths__box-right {
    margin-top: 0;
  }
  .card-footer__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card-footer__logo-box {
    padding-left:76px;
    margin-bottom:60px;
  }
  .card-footer__container-join {
       padding-left:174px;
  }
  .card-footer__subscribe {
    margin: 0 calc(50% - 225px);
    margin-top: 0;
    align-self: flex-end;
  }
  .portfolio__gallery {
    display: grid;
    flex-wrap: wrap;
    flex-direction: row;
grid-template-columns: 354px 354px;
    justify-content: space-between;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .card-header__logo {
    padding: 24px 0;
  }
  .card-team__container {
    margin-top: 30px;
  }
  .card-footer__wrapper {
    display: flex;
    flex-wrap: nowrap;

     }
     .card-footer__logo-box {
      display: flex;
      flex-direction: column;
            padding-left:0;
      margin-bottom:0;

    }
    .card-footer__container-join {
      padding-left:70px;
 }
 .card-footer__subscribe {
  margin: 0 78px;
  margin-top: 0;
  align-self: flex-start;
}
  .portfolio__gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }
}
