$background-color-primary: #ffffff;
  $background-color-footer: #2f303a;
  $background-color-secondary: #f5f4fa;
  $background-color-button-active: #2196f3;
  $background-color-button-inactive: #afb1b8;
  $background-color-icon-footer: rgba(255, 255, 255, 0.1);
  $background-color-dimness: rgba(47, 48, 58, 0.8);
  $color-white: #fff;
  $color-grey: #afb1b8;
  $color-dark: #212121;
  $color-black: #000000;
  $color-blue: #2196f3;
  $color-dark-grey: #757575;
  $color-light-grey: rgba(255, 255, 255, 0.6);
  $color-border: #ececec;